/.metadata/
/estruturaDeDados/ProjetoNetbeans/estruturaDeDadosNET/nbproject/private/
/estruturaDeDados/ProjetoNetbeans/estruturaDeDadosNET/build/
/estruturaDeDados/ProjetoNetbeans/estruturaDeDadosNET/dist/